%h3
  Women get together

%div
  = link_to 'Join an event', new_subscriber_path # change for learner path 

%div
  = link_to 'Create an event', login_path

%div
  What's happening today? (select community)

