%h1 Marhaba!
%p
  From here you can learn, view existing events in your community, or invite members of your community to a new event.

%div
  = link_to 'I want to learn', join_path

%div
  = link_to 'I want to help', host_path

