.landing-page.content
  .tag-line.row
    %h3
      %br
      Marhaba provides refugee women with 
      %br 
      a safe way to share skills and build communities

  .row
    .buttons-container
      = link_to 'Join an event', new_subscriber_path, class: 'btn btn-default btn-huge'
      = link_to 'Create an event', login_path, class: 'btn btn-default btn-huge'
