// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tableHeader {
  font-weight: bold;
}

table {
  table-layout: fixed;
  font-size: 20px;
}

td {
  height: 50px;
  text-align: left;
}