// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';


body {
  .page-header {
    padding: 0 2em;
    margin-top: 20px;
  }

  main.content {
    padding: 0 2em;
  }

  .footer-content {
    padding: 0.5em 2em;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
  }
}
