.footer-content
  This is an open-source project created during
  = link_to "Empower Hack 2015.", "http://www.empowerhack.com/"
  Get involved on 
  = link_to "Github", "https://github.com/empowerhack/Marhaba"
