%h1
  = link_to (image_tag "logo.svg", :id => "main-logo"), root_path
  = link_to "About", about_path, class: 'btn btn-link pull-right', :id => "about-button"
  = link_to "Events Near You", events_path, class: 'btn btn-link pull-right', :id => "about-button"

